.grid {
	width: 800px;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
    margin: auto;
	
}

.square {
	height:200px ;
	width: 200px;
	border: solid black 1px;
	
}

.mole {
	background-image: url("./cat.png");
	background-size: cover;
	
}
